<ion-content class="background">
    <ion-grid>
        
        <ion-row>
            <ion-col class="ion-text-end">
              <ion-text routerLink="/log-in">Saltar</ion-text>
            </ion-col>
          </ion-row>

        <ion-row>
          <ion-col>
            <ion-thumbnail item-left>
              <ion-img src="assets/img/logo.jpg"></ion-img>
            </ion-thumbnail>
          </ion-col>
        </ion-row>
    
        <ion-row>
          <ion-col>
            <h1>Organiza eventos</h1>
          </ion-col>
        </ion-row>
    
        <ion-row>
            <ion-col>
                <h4>Una fiesta en un bar, un concierto, una charla… ¡Cualquier cosa!</h4>
            </ion-col>
        </ion-row>
    
        <ion-row class="progressBarr">
            <ion-col>
              <p style="color: grey;"><strong style="color: white;">02</strong> / 03</p>
              <ion-progress-bar value="0.66"></ion-progress-bar>
          </ion-col>
        </ion-row>
    
        <ion-row class="footerBottom">
          <ion-col>
            <ion-button routerLink="/step-three" style="text-transform: none; padding-right: 10%; padding-left: 10%;" size="large" expand="block">Siguiente</ion-button>
          </ion-col>
        </ion-row>
    
      </ion-grid>
</ion-content>