<ion-content class="background">
    <ion-grid>

        <ion-row>
          <ion-col>
            <ion-thumbnail item-left>
              <ion-img src="assets/img/logo.jpg"></ion-img>
            </ion-thumbnail>
          </ion-col>
        </ion-row>
    
        <ion-row>
          <ion-col>
            <h1>Sigue lo que te gusta</h1>
          </ion-col>
        </ion-row>
    
        <ion-row>
            <ion-col>
                <h4>Mantente informado acerca de nuevos eventos en tu zona según tus gustos</h4>
            </ion-col>
        </ion-row>
    
        <ion-row class="progressBarr">
            <ion-col>
              <p style="color: grey;"><strong style="color: white;">03</strong> / 03</p>
              <ion-progress-bar value="1"></ion-progress-bar>
          </ion-col>
        </ion-row>
    
        <ion-row class="footerBottom">
          <ion-col>
            <ion-button routerLink="/log-in" style="text-transform: none; padding-right: 10%; padding-left: 10%;" size="large" expand="block">Siguiente</ion-button>
          </ion-col>
        </ion-row>
    
      </ion-grid>
</ion-content>