<ion-content [fullscreen]="true" padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-thumbnail item-left>
          <ion-img src="assets/img/logo.jpg"></ion-img>
        </ion-thumbnail>
      </ion-col>
    </ion-row>

    <ion-row><ion-col><h1>Hola, ¡Encantado de conocerte!</h1></ion-col></ion-row>

    <ion-row><ion-col><h4>Establece tu ubicación para encontrar los mejores eventos cerca de tí</h4></ion-col></ion-row>

    <ion-row>
      <ion-col>
        <ion-button type="submit" expand="block">
          <ion-icon name="navigate-outline" slot="start"></ion-icon>
          Utilizar ubicación actual</ion-button>
      </ion-col>
    </ion-row>

    <ion-row><ion-col><p style="color: grey;">Solo accederemos a tu ubicación cuando estés utilizando la app</p></ion-col></ion-row>

    <ion-row><ion-col><p>o establece tu ubicación manualmente en la configuración</p></ion-col></ion-row>

  </ion-grid>
</ion-content>